
.preview{
    width: 100%;
    height:250px;
}

img.preview {
    width: 100%;
    height:auto;
}

.half-column {
    width: 49.99%;   
}

.thirds-column {
    width: 33.4%;   
}

#content {
    width: 95%;
    padding: 10px;
}

#header {
    height:50px;
}

.text-content {
    overflow-y:scroll;
    height:150px;
}

.two-thirds-column {
    width: 66.6%
}

/*.project-file-view #preview{
    padding:0;!important
}*/

#header a {
    padding: 15px;
}
