<div class="panel panel-default project-file-view">
    <div class="panel-header">
        <span class="text-muted">{{name}}</span>
    </div>
    <div id="preview" class="panel-body">
        {{#if image}}
        <div>
            <img class="preview" src="{{image_src}}"/>
        </div>
        {{/if}}
        {{# if threeD}}
        <div>
            <iframe class="threed preview" src="https://render.github.com/view/3d?url=https://raw.github.com/{{threed_path}}"></iframe> 


        </div>
        {{/if}}
        {{# if text}}
        <div class="text-content" id="texteditor">
            {{text}}
            <script>
                ace.edit("texteditor");
            </script>
        </div>
        {{/if}}
    </div>
<!--
    <div class="panel-footer"></div>
-->
</div>
